* {
    margin: 0;
    padding: 0;
}

body {

    background-color: rgb(253, 241, 184);
    font-family: Felipa;
    line-height: 1.6;
}

.subtitulo {
    color: rgb(138, 69, 19)
}

.contenedor {
    background-color: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

/*-----------------------HEADER-----------------------*/
header {
    color: rgb(172, 92, 2);
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
    border-radius: 15px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.titulos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

header img {
    width: 120px;
}

.felipa-regular {
    font-family: "Felipa", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

header nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(172, 92, 2);
    font-weight: bold;
    transition: .3s;
}

header nav ul li a:hover {

    color: rgb(2, 117, 36);
}

h2 {
    color: rgb(2, 117, 36);
    font-style: italic;
    font-size: 22px;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.colorAzul {
    color: rgb(58, 58, 253);
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
}

section {
    background: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    width: 100%;
    box-sizing: border-box;
}

.grilla {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
}


/*------------------------MAIN----------------------------*/
main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.producto-destacado{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items:center;
}

.producto-destacado img{
    width:100%;
    max-width:280px;
    border-radius:12px;
}

.producto-destacado h4{
    color:rgb(172,92,2);
    font-size:22px;
}

.inicio{

grid-template-columns:1fr 2fr;

grid-template-areas:

"beneficios destacado"
"pagos promociones";

}

.beneficios {
    grid-area: beneficios;
}

.destacado {
    grid-area: destacado;
}

.pagos {
    grid-area: pagos;
}

.promociones {
    grid-area: promociones;
}


h3 {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    margin: 10px;
    font-size: 14px;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

li {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.imagen h3{

margin-bottom:15px;

}

section ul li {
    padding: 2px;
    margin: 15px;
}

.imagen {
    border: 1px solid rgb(212, 212, 212);
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    
    transform: translateY(-5px);
    /*Cuando pasas el mouse parece que la tarjeta "se levanta".*/
}

.imagen img {
    width: 100%;
    max-width: 220px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

.nosotros-grid {
    display: grid;
    gap: 20px;
}

.nosotros-grid section {
    border-top: 5px solid rgb(2, 117, 36);
}

.nosotros-grid ul {
    list-style: none;
    padding: 0;
}

.nosotros-grid li {
    margin: 12px 0;
}

.nosotros-grid li::before {
    content: "🌾 ";
}

.nosotros-grid p {
    line-height: 1.7;
}

/*------------------------FOOTER--------------------------*/
footer div p {
    font-size: 12px;
    text-align: end;
}

footer div h3 {
    padding: 10px;
    margin: 10px 20px;
}

footer div ul {
    padding: 10px;
    margin: 10px 50px;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer div:last-child{
    width:100%;
    border-top:1px solid #ddd;
    padding-top:15px;
    text-align:center;
}
.footer-contacto{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contacto,
.instagram{
    text-align: center;
}

@media screen and (min-width:1024px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    header img {
        width: 180px;
    }

    header nav ul {
        flex-direction: row;
    }

    .inicio {
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "beneficios destacado"
            "pagos promociones";
    }

    .grilla {
        grid-template-columns: repeat(3, 1fr);
    }
    footer{
        flex-direction:column;
    }
    /*footer {
        flex-direction: row;
        justify-content: space-between;
    }*/

    .nosotros-grid {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        align-items: start;
        grid-template-areas:

            "quienes quienes"
            "mision vision"
            "valores elegir";
    }

    .quienes-somos {
        grid-area: quienes;
    }

    .mision {
        grid-area: mision;
    }

    .vision {
        grid-area: vision;
    }

    .valores {
        grid-area: valores;
    }

    .elegirnos {
        grid-area: elegir;
    }
    .producto-destacado{

    flex-direction:row;

}
.footer-contacto{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }

}